<div class="jumbotron">
  <h1>Films</h1>


<div ng-repeat="movie in main.moviesPopulaire">
<h2> {{movie.original_title}}</h2>
<!--{{movies}}-->
<img ng-src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}"/>
</div>

<!--{{main.data.movies}}-->
  <!--<input type="text" ng-model="main.message"></input>-->
  
  <!--<input type="text" ng-model="main.filmId" placeholder="id du film"></input>-->
  <input type="text" ng-model="main.filmName" placeholder="nom du film"></input>
  <input type="text" ng-model="main.filmDetail" placeholder="detail du film"></input>
  <button ng-click="main.ajouterElement()">Ajouter</button>
  <!--<input type="checkbox" ng-model="main.isMessageVisible" />-->


<!--<p ng-bind="main.message.length"> </p>-->
<p></p>
<!--<input type="text" ng-model="maVariable"/>-->
<ul>
    <li ng-repeat="el in main.data.movies track by $index"><!--{{el.name}} -->
      <a ng-href="#/films/{{$index}}"> {{el.name}}</a>
    <button ng-click="main.deleteElement(el, main.data.movies)">Delete</button></li>
   
    <!--<li ng-repeat="el in main.data.movies | filter: maVariable track by $index">{{el}}</li>-->

    <!--<li ng-repeat="el in main.awesomeThings | filter: main.mafonctiontri track by $index">{{el}} <button ng-click="main.deleteElement(el, main.awesomeThings)">Delete</button></li>-->

    <!--<li ng-repeat="el in main.awesomeThings | filter: mafonctiontri track by $index">{{el | uppercase}} <button ng-click="main.deleteElement(el, main.awesomeThings)">Delete</button></li>-->
    <!--<li ng-repeat="el in main.awesomeThings | filter: maVariable track by $index">{{el}} <button ng-click="main.deleteElement(el, main.awesomeThings)">Delete</button></li>-->
    <!--<li ng-repeat="el in main.awesomeThings | limitTo: '3' track by $index">{{el}} <button ng-click="main.deleteElement(el, main.awesomeThings)">Delete</button></li>-->
</ul>

<!--<p> {{main.message}}</p>-->

  <!--<p class="lead" ng-show="main.isMessageVisible()">
  <p class="lead" ng-show="main.isMessageVisible">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
     
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="main.ajouterElement()">Ajouter<span class="glyphicon glyphicon-ok"></span></a></p>
  <p><a class="btn btn-lg btn-success" ng-click="message = 'SuperCool!'">Cool!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>-->
</div>
